@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">Request a New Account or Login</h1>
    <p>Select an option below to continue.</p>
    <a class="btn btn-primary" href="~/Identity/Account/Register">Request Account</a>
    <a class="btn btn-secondary" href="~/Identity/Account/Login">Login</a>
</div>
