@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">You have requested an account.</h1>
    <p>Once your account is approved, you can access the application</p>
</div>
