@model CCD_Attendance.Models.UploadRosterViewModel

@{
    ViewData["Title"] = "Upload Roster";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="UploadRoster" asp-controller="Course" asp-area="User" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="File">Roster File</label>
        <input asp-for="File" class="form-control" type="file" required />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div>
        <p>Provide a CSV file for Handshake data in the correct format.</p>
    </div>
    <input asp-for="CourseId" type="hidden" />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
